<!-- topbar start -->
<section class="topbar for-pc">
	<div class="container">
		<!-- row start -->
		<div class="row">
			
			<!-- phone start -->
			<div class="col-md-2 col-6 topbar-item-box">
				<div class="row topbar-item-row">
					<!-- left part start -->
					<div class="col-md-4">
						<img src="images/phone.png" class="img-fluid">
					</div>
					<!-- left part end -->

					<!-- right part start -->
					<div class="col-md-8">
						<h2>phone</h2>
						<p>883-596-6206</p>
					</div>
					<!-- right part start -->
				</div>
			</div>
			<!-- phone end -->

			<!-- email start -->
			<div class="col-md-3 col-6 topbar-item-box">
				<div class="row topbar-item-row">
					<!-- left part start -->
					<div class="col-md-3">
						<img src="images/email.png" class="img-fluid">
					</div>
					<!-- left part end -->

					<!-- right part start -->
					<div class="col-md-9 topbar-email">
						<h2>e-mail</h2>
						<p>amrubazar@gmail.com</p>
					</div>
					<!-- right part start -->
				</div>
			</div>
			<!-- email end -->

			<!-- location start -->
			<div class="col-md-2 col-6 topbar-item-box">
				<i class="fas fa-angle-down"></i>
				<div class="row topbar-item-row">
					<!-- left part start -->
					<div class="col-md-3">
						<img src="images/map.png" class="img-fluid">
					</div>
					<!-- left part end -->

					<!-- right part start -->
					<div class="col-md-9">
						<h2>location</h2>
						<p>dhaka, bangladesh</p>
					</div>
					<!-- right part start -->
				</div>

				<!-- topbar drop down box start -->
				<div class="topbar-dropdown">
					<ul>
						<li><a href="">item one</a></li>
						<li><a href="">item p2</a></li>
						<li><a href="">item p3</a></li>
					</ul>
				</div>
				<!-- topbar drop down box end -->

			</div>
			<!-- location end -->

			<!-- dollar start -->
			<div class="col-md-2 col-6 topbar-item-box">
				<i class="fas fa-angle-down"></i>
				<div class="row topbar-item-row">
					<!-- left part start -->
					<div class="col-md-3">
						<img src="images/dollar.png" class="img-fluid">
					</div>
					<!-- left part end -->

					<!-- right part start -->
					<div class="col-md-9">
						<h2>dollar</h2>
						<p>us</p>
					</div>
					<!-- right part start -->
				</div>

				<!-- topbar drop down box start -->
				<div class="topbar-dropdown">
					<ul>
						<li><a href="">item one</a></li>
						<li><a href="">item p2</a></li>
						<li><a href="">item p3</a></li>
					</ul>
				</div>
				<!-- topbar drop down box end -->

			</div>
			<!-- dollar end -->

			<!-- user account start -->
			<div class="col-md-3 topbar-item-box topbar-account for-pc">
				<a href="">
					<div class="row topbar-item-row">
						<!-- left part start -->
						<div class="col-md-3 col-2">
							<img src="images/user.png" class="img-fluid">
						</div>
						<!-- left part end -->

						<!-- right part start -->
						<div class="col-md-9 col-10">
							<h2>login or register</h2>
						</div>
						<!-- right part start -->
					</div>
				</a>
			</div>
			<!-- user account end -->

		</div>	
		<!-- row end -->
	</div>
</section>
<!-- topbar end -->